.App {
  background: linear-gradient(110deg, $other 48%, $purple 52%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-width: 720px;
  // text-align: center;
  width: 100%;
}

main {
  padding: 20px;
}

.menu-icon {
  width: 30px;
  height: 30px;
}
