.single-color-preview {
  width:20%; 
  margin-bottom:10px; 
  height:150px; 
  vertical-align:center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction:column;
}

.save-icon,
.randomize-icon {
  width: 30px;
  margin: 10px auto;
  &:hover {
    cursor: pointer;
  }
}

.color-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
  height: 90%;
  & p {
    margin-top: 10px;
    width: fit-content;
    margin: 5px auto 0;
    background-color: rgba(126, 125, 125, .4);
    border-radius: 5px;
    // line-height: 1.2em;
    padding: 5px;
    color: white;
  }
}