.single-color-preview {
  align-items: center; 
  display: flex; 
  flex-direction:column;
  height:150px; 
  justify-content: center; 
  margin-bottom:10px; 
  vertical-align:center; 
  width:20%; 
  &:hover {
    animation: wobble;
    animation-direction: .3s;
  }
}

.save-icon,
.randomize-icon {
  margin: 10px auto;
  width: 30px;
  &:hover {
    cursor: pointer;
  }
}

.color-controls {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: flex-start;
  width: 100px;
  & p {
    background-color: rgba(126, 125, 125, .4);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin: 5px auto 0;
    padding: 5px;
    width: fit-content;
  }
}