footer {
  align-items: center;
  background-color: $orange;
  box-shadow: 0px 0px 10px ;
  display: flex;
  font-family: Rosalina;
  font-size: 2.5rem;
  font-weight: bolder;
  height: 70px;
  justify-content: center;
  min-width: 720px;
}