header {
  background-color: $orange;
  box-shadow: 0px 0px 10px ;
  display: flex;
  height: 70px;
  min-width: 720px;
}

h1 {
  font-family: Rosalina;
  font-size: 4rem;
  letter-spacing: 3.5px;
  margin-left: 40px;
}