header {
  background-color: #1181B2;
  box-shadow: 0px 0px 10px ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: Rosalina;
  font-size: 1.6rem;
  letter-spacing: 3.5px;
}

h1 {
  margin-left: 20px;
}