.new-palette-form {
  align-items: center;
  border-left: 2px solid black;
  display: flex;
  height: 60px;
  padding: 10px;
  width: 50%;
}

.new-palette-input {
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  margin: 0px 5px;
  padding: 5px;
  width: 32%;
}

.palette-name-input {
  min-width: 70px;
}