.new-palette-form {
  margin: 10px;
  display: flex;
  align-items: center;
  border-left: 2px solid black;
  height: 60px;
}

.new-palette-input {
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 0px 15px;
  border: 1px solid black;
}

.palette-name-input {
  width: 150px;
}