.new-palette-form {
  margin: 10px;
  display: flex;
  align-items: center;
  border-left: 2px solid black;
}

.new-palette-input {
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0px 15px;
}

.palette-name-input {
  width: 150px;
}