.palettes {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 1px 0px 3px;
  height: 400px;
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & div {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    height: 300px;
    margin-top: 15px;
    width: 19%;
  }
  & button {
    border-radius: 5px;
    display: block;
    height: 40px;
    margin: auto;
    width: 200px;
  }
}

.palette-container {
  width: 90%;
}

.palette-container-controls {
  align-content: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}