.palettes {
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 3px solid black;
  box-shadow: 0px 0px 15px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 450px;
  margin: 20px auto;
  max-width: 1500px;
  min-width: 700px;
  overflow: scroll;
  width: 90%;
  & .single-color {
    animation-duration: 1s;
    animation-name: bounceIn;
    border-bottom: 2px solid black;
    border-top: none;
    display: inline-block;
    height: 300px;
    margin-bottom: auto;
    overflow: hidden;
    text-align: center;
    width: 20%;
    &:hover {
      border: 2px solid black;
      box-shadow: 0px 0px 20px;
      transform: scale(1.05);
      transition: all .1s ease-in-out;
    }
    & h2 {
      margin-top: 5px;
    }
  }
  & .buttons-left {
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    height: 30px;
    margin: auto;
    width: 140px;
  } 
}

.saved-projects-title {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
}

.project-name-input {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px auto;
  &.buttons-left {
    height: 16px;
    margin: 4px;
    padding: 0 4px;
  }
}

.color-info {
  margin-top: 50px;
}

.locked-icon {
  height: 40px;
  &:hover {
    cursor: pointer;
  }
}

.customize-palette-input {
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  margin: 0px 5px;
  padding: 5px;
  width: 100px;
}

.customize-generator {
  animation-duration: 1s;
  animation-name: bounceIn;
  display: flex;
  font-size: 10px;
  margin-top: auto;
}

.palette-container {
  width: 100%;
}

.palette-container-controls {
  align-content: center;
  animation-duration: 1s;
  animation-name: bounceIn;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}