.single-project {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  width: 90%;
  height: 80px;
  & a {
    text-decoration: none;
    color: black;
    width: 100%;
  }
  & h2 {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
    }
  }
}

.color-preview {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
}

.project-header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  margin-top: 5px;
  // justify-content: center;
  // align-items: center;
  & h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-size: 2.2rem;
    text-decoration: underline;
  }
}

.palette-header {
  width: fit-content;
  min-width: 60px;
  display: flex;
  align-items: center;
  & h3 {
    font-size: 1.6rem;
  }
}

.delete-palette-button {
  height: 20px;
  margin: 0px 10px;
  &:hover {
    cursor: pointer;
  }
}

.delete-project-btn {
  height: 35px;
  &:hover {
    cursor: pointer;
  }
}

.back-icon {
  width: fit-content;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  display: inline-block;
}

.back-image {
  width: 40px;
}


.back-home-icon {
  width: fit-content;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  display: inline-block;
}
