.single-project {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  width: 90%;
  height: 80px;
  & a {
    text-decoration: none;
    color: black;
    width: 100%;
  }
  & h2 {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
    }
  }
}

.color-preview {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
}

.project-header {
  display: flex;
  margin-top: 10px;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  & h2 {
    margin: auto;
  }
}

.delete-palette-button {
  height: 25px;
  margin: 0px 10px;
}

.delete-project-btn {
  height: 35px;
  &:hover {
    cursor: pointer;
  }
}

.back-icon {
  width: 45px;
  margin-right: 83vw;
  margin-top: 10px;
  display: inline-block;
}